parameters:
    level: 8
    paths:
        - src
        - tests
    
    ignoreErrors:
        # Allow mixed types in JWT library interactions
        - '#Call to method .* on an unknown class Lcobucci\\JWT\\Token#'